@using RxFair.Dto.Enum
@using RxFair.Utility.Extension
@model RxFair.Dto.Dtos.PharmacyDistributorDashboardDto
@{
    ViewData["Title"] = "Dashboard";
}
<style type="text/css">
    .dash_info_sec .dash_info_data .order_data {
        padding: 15px 5px 15px 5px !important;
    }
</style>

<main class="app-content">
    <div class="app-title">
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item"><a href="\Pharmacy">Home</a></li>
            <li class="breadcrumb-item"><a href="javascript:;">Dashboard</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="page_title">
                <h2>@User.GetClaimValue(UserClaims.FullName)</h2>
                <h5>We are glad to see you!</h5>
            </div>
        </div>
    </div>
    <!-- Statues Div Start -->
    @*<div class="row dashboard_status">
            <div class="col-lg-1 col-md-2 col-2 pl-cus-0">
                <div class="dash_user icon-width">
                    <img src="~/rxfairbackend/images/dash_user.png" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-3 col-10">
                <h3 class="dash_title">Total Users</h3>
                <div class="dash_user data_text">
                    <h2>@Model.UserDto.TotalUsers</h2>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pr-cust-3 res-m-top">
                <h3 class="dash_title">Pharmacy Admin</h3>
                <div class="d-flex ">
                    <div class="dash_user data_text w-50 d-inline-block mr-3">
                        <div class="status_title">
                            <h4>Active</h4>
                            <i class="fa fa-circle" aria-hidden="true"></i>
                        </div>
                        <h2>@Model.UserDto.AdminActive</h2>
                    </div>
                    <div class="dash_user data_text w-50 d-inline-block">
                        <div class="status_title inactive">
                            <h4>Inactive</h4>
                            <i class="fa fa-circle" aria-hidden="true"></i>
                        </div>
                        <h2>@Model.UserDto.AdminInactive</h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pr-0 res-m-top">
                <h3 class="dash_title">Pharmacy Staff</h3>
                <div class="d-flex">
                    <div class="dash_user data_text w-50 d-inline-block mr-3">
                        <div class="status_title">
                            <h4>Active</h4>
                            <i class="fa fa-circle" aria-hidden="true"></i>
                        </div>
                        <h2>@Model.UserDto.StaffActive</h2>
                    </div>
                    <div class="dash_user data_text w-50 d-inline-block">
                        <div class="status_title inactive">
                            <h4>Inactive</h4>
                            <i class="fa fa-circle" aria-hidden="true"></i>
                        </div>
                        <h2>@Model.UserDto.StaffInactive</h2>
                    </div>
                </div>
            </div>
        </div>*@
    <!-- Statues Div End -->
    <div class="row">
        <div class="col-12">
            <div class="dash_info_sec mb-4">
                <div class="dash_info_title">
                    <div class="left_text">
                        <img src="~/rxfairbackend/images/admin/title_one.png" alt="" class="img-fluid">
                        <h3>Orders</h3>
                    </div>
                    <div class="right_text">
                        <h3>Total Order  - <span>@Model.OrderDto.TotalOrder</span></h3>
                    </div>
                </div>
                <div class="dash_info_data">
                    <div class="row">
                        <div class="col-xl-2 col-lg-2 col-md-2">
                            <div class="order_data border_bot">
                                <div class="dash_infoicon">
                                    <img src="~/rxfairbackend/images/admin/o1.png" class="img-fluid" alt="">
                                </div>
                                <div class="dash_text">
                                    <h5>Pending</h5>
                                    <h3><span>@Model.OrderDto.Pending</span></h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-2">
                            <div class="order_data border_bot">
                                <div class="dash_infoicon green">
                                    <img src="~/rxfairbackend/images/admin/o2.png" class="img-fluid" alt="">
                                </div>
                                <div class="dash_text">
                                    <h5>Confirmed</h5>
                                    <h3><span>@Model.OrderDto.Confirmed</span></h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-2">
                            <div class="order_data border_bot">
                                <div class="dash_infoicon blue">
                                    <img src="~/rxfairbackend/images/admin/o3.png" class="img-fluid" alt="">
                                </div>
                                <div class="dash_text">
                                    <h5>Shipped</h5>
                                    <h3><span>@Model.OrderDto.Shipped</span></h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-2">
                            <div class="order_data border_bot">
                                <div class="dash_infoicon green">
                                    <img src="~/rxfairbackend/images/admin/o4.png" class="img-fluid" alt="">
                                </div>
                                <div class="dash_text">
                                    <h5>Delivered</h5>
                                    <h3><span>@Model.OrderDto.Delivered</span></h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-2">
                            <div class="order_data">
                                <div class="dash_infoicon red">
                                    <img src="~/rxfairbackend/images/admin/o5.png" class="img-fluid" alt="">
                                </div>
                                <div class="dash_text">
                                    <h5>Cancelled</h5>
                                    <h3><span>@Model.OrderDto.Cancelled</span></h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-2">
                            <div class="order_data">
                                <div class="dash_infoicon high_red">
                                    <img src="~/rxfairbackend/images/admin/o6.png" class="img-fluid" alt="">
                                </div>
                                <div class="dash_text">
                                    <h5>Returned</h5>
                                    <h3><span>@Model.OrderDto.Returned</span></h3>
                                </div>
                            </div>
                        </div>
                        @*<div class="col-xl-2 col-lg-4 col-md-6">
                                <div class="order_data">
                                    <div class="dash_infoicon high_red">
                                        <img src="~/rxfairbackend/images/admin/o7.png" class="img-fluid" alt="">
                                    </div>
                                    <div class="dash_text">
                                        <h5>Partial Returned</h5>
                                        <h3><span>@Model.OrderDto.PartialReturned</span></h3>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page_title" style="padding-top:30px">
        <h2>Order History  </h2>

    </div>


    <div class="col-12">
        <div class="accordian-block border-0">
            <div class="accordian-para acc-show purches_order">
                <form id="frmViewOrders">
                    <div class="form-row mt-0">
                        <div class="form-group ">
                            <label>Select Distributor</label>
                            @Html.DropDownList("DistributorId", ViewBag.OrderDistributorList as IEnumerable<SelectListItem>, "Select Distributor", new { @class = "height-45 form-control mr-2", required = "Select Distributor" })
                        </div>
                        <div class="form-group ">
                            <label>Start Date *</label>
                            @*<input id="startDate" class="form-control datepicker" type="text" required placeholder="DD/MM/YYYY">*@
                            <input type="text" name="startDate" id="startDate" readonly value="" class="date" required placeholder="DD/MM/YYYY" />
                        </div>
                        <div class="form-group ">
                            <label>End Date *</label>
                            @*<input id="endDate" class="form-control datepicker" type="text" required placeholder="DD/MM/YYYY">*@
                            <input type="text" name="endDate" id="endDate" readonly value="" class="date2" required placeholder="DD/MM/YYYY" />
                        </div>
                        <div class="d-flex align-items-center">
                            <button type="button" id="search" class="btn btn-outline-primary con_btn database_btn back_btn active mb-0">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- Tab panes -->
        <div class="tab-content pt-0">
            <div class="tile-body">
                <div class="dataTables_wrapper no-footer">
                    <table class="table table-hover table-bordered dataTable no-footer table_bordered_sec" id="OrderTable" role="grid" aria-describedby="sampleTable_info">
                        <thead>
                            <tr role="row" class="title_datatable">
                                <th>Order ID</th>
                                <th>Date</th>
                                <th>Total($)</th>
                                <th>Distributor</th>
                                <th>Shipping</th>
                                <th>Track</th>
                                <th>Order Status</th>
                                <th>Payment Status</th>
                                <th>Download Invoice</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
@section scripts{
    <script src="~/rxfairbackend/js/plugins/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript">
        var container = $('#frmViewOrders').length > 0 ? $('#frmViewOrders').parent() : "body";
        $(function () {
            $(".date").datepicker({
                container: container,
                orientation: 'bottom',
                onSelect: function (dateText) {
                    $(this).change();
                }
            }).on("change", function () {
                $('#endDate').datepicker('setStartDate', new Date($(this).val()));
            });
        });

        $('#startDate').datepicker({
            endDate: '+0d',
            format: "M/dd/yyyy",
            //setDate: new Date(),
            prevText: '<i class="fa fa-chevron-left"></i>',
            nextText: '<i class="fa fa-chevron-right"></i>',
            autoclose: true,
            container: container,
            orientation: 'bottom'
        }).on('changeDate', function () {
            var startDate = $("#startDate").val();
            var endDate = $("#endDate").val();
            if (Date.parse(startDate) > Date.parse(endDate)) {
                RxFair.Error("Start date cannot be greater than end date !");
            }
        });

        myDate = new Date();
        minusSeven = new Date(myDate.setDate(myDate.getDate() - 30));
        $('#startDate').datepicker('setDate', minusSeven);

        $('#endDate').datepicker({
            endDate: '+0d', // To diable all the future dates.
            format: "M/dd/yyyy",
            //setDate: new Date(),
            prevText: '<i class="fa fa-chevron-left"></i>',
            nextText: '<i class="fa fa-chevron-right"></i>',
            autoclose: true,
            container: container,
            orientation: 'bottom',
        });

        $('#endDate').datepicker('setDate', new Date());

        $(document).ready(function () {
            $('#endDate').datepicker('setStartDate', new Date($('#startDate').val()));
            //$('#endDate').datepicker('setEndDate', new Date());
            BindOrderList();
        });

        function BindOrderList() {
            var distributorId = $("#DistributorId").val();
            distributorId = isNaN(distributorId) ? 0 : distributorId;
            var startDate = $("#startDate").val();
            var endDate = $("#endDate").val();
            if ($.fn.DataTable.isDataTable("#OrderTable")) {
                $("#OrderTable").DataTable().destroy();
            }

        var OrderTable = $("#OrderTable").DataTable({
        sAjaxSource: "/Pharmacy/Order/GetOrders?DistributorId=" + distributorId + "&StartDate=" + startDate + "&EndDate=" + endDate,
            columns: [
                {
                    data: "uniqueOrder",
                    autoWidth: false,
                    searchable: true,
                    render: function (data, type, row) {
                        var link = `<a href="javascript:;" class="orderDetailLink datatabel-link" data-orderId="{orderId}">` + data + `</a>`;
                        return link.replace("{orderId}", row.id);
                    }
                },
                {
                    data: "dateCreated",
                    autoWidth: false,
                    searchable: true
                },
                {
                    data: "gTotal",
                    className: "text-left",
                    autoWidth: false,
                    searchable: true,
                    render: function (data, type, row) {
                        return '$ ' + data;
                    }
                },
                {
                    data: "companyName",
                    className: "text-left",
                    autoWidth: false,
                    searchable: true
                },
                {
                    data: "shippingStatus",
                    autoWidth: false,
                    searchable: true
                },
                {
                    data: "trackingNo",
                    autoWidth: false,
                    searchable: true,
                    render: function (data, type, row) {
                        return `<a href="https://${row.trackingLink}" target="_blank">${data}</a>`;
                    }
                },
                {
                    data: "orderStatus",
                    autoWidth: false,
                    searchable: true
                },
                {
                     data: "paymentStatus",
                     autoWidth: false,
                     searchable: true
                },
                {
                    data: "id",
                     autoWidth: false,
                    searchable: true,
                    orderable: false,
                    render: function (data, type, row) {
                        return `<a href="javascript:;" class="icon_btn DownloadInvoice" data-id="${data}" data-orderId="${row.uniqueOrder}"><i class="fa fa-arrow-down" aria-hidden="true"></i></a>`;
                    }
                }
            ]
            });
        }

        $(document).on("click", "#search", function () {
            var startDate = $("#startDate").val();
            var endDate = $("#endDate").val();
            if (Date.parse(startDate) > Date.parse(endDate)) {
                RxFair.Error("Start date cannot be greater than end date !");
            } else {
                BindOrderList();
            }
        });

        $(document).on("click", ".orderDetailLink", function () {
            var id = $(this).attr("data-orderId");
            window.location.href = "/Pharmacy/Order/ViewOrderDetails/" + id;
        });

        $(document).on("click", ".DownloadInvoice", function () {
            var orderChargeId = $(this).attr("data-id");
            var uniqueId = $(this).attr("data-orderId");
            window.location.href = "/Pharmacy/Order/DownloadInvoice/" + orderChargeId + "/" + uniqueId;
        });

    </script>
}

